fastapi==0.115.5
uvicorn[standard]==0.34.0
gunicorn==23.0.0
pydantic==2.10.3
pydantic-settings==2.7.0
python-dotenv==1.0.1
uvloop==0.21.0; sys_platform != "win32"
orjson==3.10.12
prometheus-fastapi-instrumentator==7.0.2
